body {
    background-color: powderblue;
}
.wrapper{
	margin:auto;
	height:100%;
	width: 980px;
}
.btn-show{
	color: #FFFFFF;
    background-color: #4CAF50;
	display:block;
	height:25px;
	text-align:center;
	text-decoration:none;
	padding-top:5px;
	width:150px;
}
#header, #content{
	background: #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1 {
	text-align:center;
    color: blue;
}
p {
    color: red;
}