<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
	 <!-- MODEL STUDENT -->
	<resultMap type="model.Student" id="studentInfoMap">
		<id column="STUDENT_ID" property="studentID"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="STUDENT_CODE" property="studentCode"/>
		<association property="studentInfo" javaType="model.StudentInfo">
			<id column="INFO_ID" property="infoID"/>
			<result column="STUDENT_ID" property="studentID"/>
			<result column="ADDRESS" property="address"/>
			<result column="AVERAGE_SCORE" property="averageScore" />
			<result column="DATE_OF_BIRTH" property="dateOfBirth"/>
		</association>
	</resultMap>
	<resultMap type="model.Student" id="studentMap">
		<id column="STUDENT_ID" property="studentID"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="STUDENT_CODE" property="studentCode"/>
	</resultMap>
	
	<!-- GET LIST STUDENT -->
    <select id="getStudentWithInfo" resultMap="studentInfoMap">
  	 	SELECT 
  	  		STUDENT.STUDENT_ID,
  	  		STUDENT.STUDENT_NAME,
  	  		STUDENT.STUDENT_CODE,
  	  		STUDENT_INFO.ADDRESS,
  	  		STUDENT_INFO.AVERAGE_SCORE,
  	  		STUDENT_INFO.DATE_OF_BIRTH
  	 	FROM 
  	  		STUDENT LEFT JOIN  STUDENT_INFO 
		ON STUDENT.STUDENT_ID = STUDENT_INFO.STUDENT_ID
    </select>
	
	<!-- SEARCH STUDENT -->
    <select id="searchStudent" parameterType="String" resultMap="studentInfoMap">
  	 	SELECT 
  	  		STUDENT.STUDENT_ID,
  	  		STUDENT.STUDENT_NAME,
  	  		STUDENT.STUDENT_CODE,
  	  		STUDENT_INFO.ADDRESS,
  	  		STUDENT_INFO.AVERAGE_SCORE,
  	  		STUDENT_INFO.DATE_OF_BIRTH
  	 	FROM 
  	  		STUDENT LEFT JOIN STUDENT_INFO 
		ON STUDENT.STUDENT_ID = STUDENT_INFO.STUDENT_ID 
        WHERE STUDENT.STUDENT_CODE  = #{studentCode}
    </select>
    
    <!-- INSERT NEW STUDENT -->
    <insert id="insertStudent"
     parameterType='model.Student' 
     useGeneratedKeys='true'
     keyProperty='studentID'>
    	INSERT INTO STUDENT(STUDENT_NAME,STUDENT_CODE)
    		VALUES(#{studentName},#{studentCode})
    </insert>
    
	<!-- UPDATE STUDENT -->
	<update id="updateStudent" parameterType='model.Student' >
		UPDATE STUDENT 
		SET
			STUDENT_NAME = #{studentName}
		WHERE 
			STUDENT_CODE = #{studentCode}
	</update>
	
	<!-- DELETE STUDENT -->
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM STUDENT WHERE STUDENT_ID = #{studentID}
	</delete>
	
	<!-- GET LIST STUDENT IN PAGE -->
    <select id="pageStudent" parameterType="int" resultMap="studentMap">
  	  	SELECT STUDENT_ID,
  	  		 STUDENT_NAME,
  	  		 STUDENT_CODE
  	  	 FROM 
  	   		 STUDENT  LIMIT #{firstResult}, #{maxResult}
    </select>
    
	<!-- COUNT STUDENT -->
    <select id="countStudent" resultType="int">
  	  SELECT count(STUDENT_CODE) FROM STUDENT_INFO  
    </select>
</mapper>