<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
	 <!-- MODEL STUDENT -->
	<resultMap type="model.Student" id="studentInfoMap">
		<id column="STUDENT_ID" property="studentID"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="STUDENT_CODE" property="studentCode"/>
		<association property="studentInfo" javaType="model.StudentInfo">
			<id column="INFO_ID" property="infoID"/>
			<result column="STUDENT_ID" property="studentID"/>
			<result column="ADDRESS" property="address"/>
			<result column="AVERAGE_SCORE" property="averageScore" />
			<result column="DATE_OF_BIRTH" property="dateOfBirth"/>
		</association>
	</resultMap>
	
	<!-- GET LIST STUDENT -->
    <select id="getStudentWithInfo" resultMap="studentInfoMap">
  	 	SELECT 
  	  		student.STUDENT_ID,
  	  		student.STUDENT_NAME,
  	  		student.STUDENT_CODE,
  	  		student_info.ADDRESS,
  	  		student_info.AVERAGE_SCORE,
  	  		student_info.DATE_OF_BIRTH
  	 	FROM 
  	  		student LEFT JOIN  student_info 
		ON student.STUDENT_ID = student_info.STUDENT_ID
		LIMIT 0,10
    </select>
	
	<!-- SEARCH STUDENT -->
    <select id="searchStudent" parameterType="String" resultMap="studentInfoMap">
  	 	SELECT 
  	  		student.STUDENT_ID,
  	  		student.STUDENT_NAME,
  	  		student.STUDENT_CODE,
  	  		student_info.ADDRESS,
  	  		student_info.AVERAGE_SCORE,
  	  		student_info.DATE_OF_BIRTH
  	 	FROM 
  	  		student LEFT JOIN student_info 
		ON student.STUDENT_ID = student_info.STUDENT_ID 
        WHERE student.STUDENT_CODE  = #{studentCode}
    </select>
    
    <!-- INSERT NEW STUDENT -->
    <insert id="insertStudent"
     parameterType='model.Student' 
     useGeneratedKeys='true'
     keyProperty='studentID'>
    	INSERT INTO student(STUDENT_NAME,STUDENT_CODE)
    		VALUES(#{studentName},#{studentCode})
    </insert>
    
	<!-- UPDATE STUDENT -->
	<update id="updateStudent" parameterType='model.Student' >
		UPDATE student 
		SET
			STUDENT_NAME = #{studentName}
		WHERE 
			STUDENT_CODE = #{studentCode}
	</update>
	
	<!-- DELETE STUDENT -->
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM student WHERE STUDENT_ID = #{studentID}
	</delete>
	
	<!-- GET LIST STUDENT IN PAGE -->
    <select id="pageStudent" parameterType="map" resultMap="studentInfoMap">
  	  	SELECT 
  	  		student.STUDENT_ID,
  	  		student.STUDENT_NAME,
  	  		student.STUDENT_CODE,
  	  		student_info.ADDRESS,
  	  		student_info.AVERAGE_SCORE,
  	  		student_info.DATE_OF_BIRTH
  	 	FROM
  	  		student LEFT JOIN student_info 
		ON student.STUDENT_ID = student_info.STUDENT_ID 
		LIMIT #{start},10
        
    </select>
    
	<!-- COUNT STUDENT -->
    <select id="countStudent" resultType="int">
  	  SELECT count(STUDENT_CODE) FROM student  
    </select>
</mapper>